.cards__image-caption {
  display: inline-block;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.55;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 50px);
  flex-shrink: 0;
}
